/* .outbox{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.container{
    width: 80vw;
    margin:3rem;
    /* border: 1px solid #fff; */
}
.title{
    font-family: var(--Ankh);
    color: var(--orange);
    font-size: 3rem;
    margin: 1.5rem 0;
}
.context{
    font-size: 1.7rem;
    padding: 1rem 2rem;
    text-align:left;
    border-left: 5px solid var(--orange);
    text-indent: 3rem;
    text-align: justify;
    width: 70%;
    color: var(--creame);
    text-transform: uppercase;
}
.context .highlight{
    font-size: 2.5rem;
    color: #fff;
}
.context .highlight:hover{
    color: var(--orange);
}
.study{
    border: 1px solid red;
    display: grid;
    grid-template-columns:50% 50%;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
}
